@{
    ViewData["Title"] = "Atividade15.7";
}

<div class="text-center">
    <h1 class="display-4">Hello, How are you?</h1>
    <br />
    <h2 class="display-4">@DateTime.Now</h2>
    <br />
    <img src="https://img.freepik.com/premium-vector/welcome-speech-bubble-banner-poster-speech-bubble-with-text-welcome_136321-1852.jpg" />
</div>
