@model List<Atividade15._7.Models.Message>
<form asp-action="Index" method="post">
        <main class="form-signin">
            <form>
                <img class="mb-4" src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkzMi1uaW5nLTQ0XzEta2xidW5va3MuanBn.jpg" alt="" width="95" height="100">
                <h1 class="h3 mb-3 fw-normal">Send a Message</h1>
            <div>
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="Name" />
            </div>
            <div>
                <label for="Name">Surname</label>
                <input type="text" id="Surname" name="Surname" />
            </div>
            <div>
                <label for="Email">Email:</label>
                <input type="text" id="Email" name="Email" />
            </div>
            <div>
                <label for="Content">Message:</label>
                <input type="text" id="Content" name="Content" />
            </div>
            <button type="submit">Send</button>
            </form>
</form>

@if (Model != null && Model.Count > 0)
{
    <h3>Recieved Message:</h3>
    <ul>
        @foreach (var msg in Model)
        {
            <li>
                <p><strong>Name:</strong> @msg.Name</p>
                <p><strong>Surname:</strong> @msg.Surname</p>
                <p><strong>Email:</strong> @msg.Email</p>
                <p><strong>Message:</strong> @msg.Content</p>
            </li>
        }
    </ul>
}

