@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello, Users</h1>
    <h3 class="display-5">@DateTime.Now</h3>
    <br />
    <a class="btn btn-outline-success" href="/Chamados">Cadastrar Chamadas</a>
    <br /> <br />
    <img src="https://img.freepik.com/premium-vector/welcome-speech-bubble-banner-poster-speech-bubble-with-text-welcome_136321-1852.jpg" height="300" width="400" />
</div>
